.modal-buttons {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    gap: 10px;
}
.modal-buttons button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-buttons button:hover {
    background-color: #4caf50;
}
